h1 {
  width: 100%;
  text-align: center;
  font-size: 4rem;
  text-decoration: underline;
  color:white;
  margin-bottom: 50px;
}
h2 {
  text-align: right;
  color: white
}
.jumbotron {
  background-color: black
}
h4 {
  color: white
}